a{
    color: grey;
}
.card-img{
    width: 200px;
}

.tiles{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    width: 80%;
}

.row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.card{
    height: fit-content;
}

.card-title{
    font-weight: 800;
}

